* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cabin';
    src: url(./fonts/Cabin-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 588px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}


h1 {
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 10px;
    font-size: 25px
}

label {
    display: block;
    margin-bottom: 15px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    background-color: #d9d9d9;
}

textarea {
    resize: none;
    height: 200px;
}

.file-upload {
    border: 2px dashed #2b3f6c;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    height: 200px;
    font-size: 20px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    display: block;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 10px 50px
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

button.voltar {
    background-color: #ff4b5c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 45%;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-icon {
    display: inline-block;
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

button.concluir {
    background-color: #0d273d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 45%;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;


}
